body {
	background: #635c5c;
}

.simple-list select[multiple] {
	width: 100%;
	height: 8em;
}

.folders {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #333;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.folders li {
	display: inline-block;
	color: white;
	text-align: center;
	height: 100%;
	padding: 14px;
}

.folders li:hover {
	background: #111;
	cursor: pointer;
}

.module {
	display: none;
}

#home {
	display: initial;
}



.calculator span {
	color: #e8d8d8;
    font-weight: bold;
}

.calculator button, .lotto-numbers button {
	-moz-box-shadow:inset 0px -3px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px -3px 0px 0px #ffffff;
	box-shadow:inset 0px -3px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Georgia;
	font-size:25px;
	font-weight:bold;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:3px 4px 0px #ffffff;
	min-width: 70px;
}
.calculator button:hover, .lotto-numbers button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.calculator button:active, .lotto-numbers button:active {
	position:relative;
	top:1px;
}

.calculatorContainer {
	margin: 0 40%;
	width: 50%;
	
}

.lotto-numbers {
	color: white;
}

.lotto-numbers input {
	margin: 10px 10px;
	border: 2px solid;
	border-radius: 25px;
	text-align: center;
	width: 50px;
	height: 50px;
}

.lotto-container {
	margin: 0 40%;
	width: 50%;
}